@model IEnumerable<Lar_de_Idosos.Models.Trabalhador>

@{
    ViewData["Title"] = "Trabalhadores";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar Trabalhador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumTelemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTelemovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
                <td>
                    @*
                @Html.DisplayFor(modelItem => item.Foto)
                *@
                    <img src="~/Imagens/@Html.DisplayFor(modelItem => item.Foto)"
                         alt="Fodo do Trabalhador @Html.DisplayFor(modelItem => item.Nome)"
                         title="@Html.DisplayFor(modelItem => item.Nome)"
                         width="100px" />
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
