@model IEnumerable<Lar_de_Idosos.Models.Idoso>

@{
    ViewData["Title"] = "Idosos";
}

<h1>Idosos</h1>

<p>
    <a asp-action="Create">Adocionar Idoso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guardiao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
                <td>
                    @*
                @Html.DisplayFor(modelItem => item.Foto)
                *@
                    <img src="~/Imagens/@Html.DisplayFor(modelItem => item.Foto)"
                         alt="Fodo do Idoso @Html.DisplayFor(modelItem => item.Nome)"
                         title="@Html.DisplayFor(modelItem => item.Nome)"
                         width="100px" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guardiao.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
